.DS_Store
node_modules/
.expo/
dist/
.env
firmware/.pio/
firmware/managed_components/
firmware/include/secrets.h
infra/appwrite.config.json
app/android/build.gradle
firmware/.vscode/extensions.json
.gitignore
